{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="jumbrotan">
        <div class="card card-body">
            <h1 style="text-align: center;">Login Here</h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                <label for="Username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
                
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}
